@charset "utf-8";


html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
    
}

.list  p {
    font: arial;
    font-size: 14px;
    background-color: ghostwhite;
}
.buttons{
    text-align: center;
}
.button {
    background-color: #FFFFFF;
	border-radius:3px;
	border:1px solid #251D1D;
	display:inline-block;
	cursor:pointer;
	color: #251D1D;
	font-size: 1.2em;
	padding:6px 12px;
	text-decoration:none;
}
.button:hover {
    background-color: #251D1D;
    color: #FFFFFF;
    text-decoration:none;
}
.button:active {
	position:relative;
	top:1px;
}

.container-buttons{
    padding: 1em;
}

.footer-bottom{
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}
.text-white{
    color: white;
}
.title{
    font-weight: 500;
    font-size: 2em;
}
