@charset "UTF-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";*/
    font-family: "Montserrat", sans-serif;
}

header {
	padding: 32px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
    border: 0;
    float: none;
}
.div-image{
   height: 80%;
   width: 80%;
   object-fit: contain;
}

.footer-main {
	width: 100%;
    background:#fffff;
    color: #B422CA;
    padding: 1.5em;
    text-align: center;
}

body {
	margin-left: auto;
	margin-right: auto;
    min-height: 100vh;
    
    background: #FFFFFF;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
}

.style-logo-winter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 160px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
    font-weight: 800;
    font-size: 2.8em;
	color: #A821E4;
	text-align: center;
	display: block;
	text-transform: none;
	padding: 8px;
}

ul li a:hover, ul li a:focus {
 color: #C226AD;
transition: all 0.1s ease-in-out;
}


.first_box, .first_box_title {
    
	background-color: #FFF7F7;
    opacity: 0.9;
	background-size: cover;
	padding: 50px 30px 40px 30px;
	text-align: center;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.first_box_title h1{
    background: rgb(255,21,248);
    background: radial-gradient(circle, rgba(255,21,248,1) 0%, rgba(70,0,154,1) 85%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.second_box_title h1{
    background: rgb(255,21,248);
     background: linear-gradient(180deg, rgba(255,21,248,1) 0%, rgba(205,15,223,1) 30%, rgba(138,40,255,1) 85%);
     background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.third_box_title h1{
    background: rgb(255,21,248);
background: linear-gradient(97deg, rgba(255,21,248,1) 39%, rgba(40,146,255,1) 68%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 4.5em;
}
.design {
	background-color: #FFF7F7;
    opacity: 0.9;
	background-size: cover;
	padding: 50px 30px 40px 30px;
	text-align: center;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.design:hover{
   background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,234,255,1) 80%, rgba(228,214,255,1) 100%);
}

h1 {
	font-size: 4.5em;
	text-transform: uppercase;
	font-weight: 900;

}
.design h1,h4{
    /*color: #00FFE3;*/
    background-color: rgb(149,5,245);
    background-image: radial-gradient(circle, rgba(149,5,245,1) 0%, rgba(253,29,29,1) 50%, rgba(252,250,69,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.first_box h1,h4{
    /*color: #00FFE3;*/
    background: rgb(255,21,37);
background: linear-gradient(131deg, rgba(255,21,37,1) 0%, rgba(255,195,26,1) 25%, rgba(201,40,255,1) 72%, rgba(157,0,209,1) 84%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


h2 {
    text-align: center;
	font-size: 2.5em;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 23px;
}

h3 {
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 120px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}





#button-on-wave,.button-on-grey, #button-on-violet, #button-on-blue, #button-on-green, .first_box>.button, .button{
   
    padding: 16px 50px;
	border-radius: 20px;
    text-decoration: none;
    /*font-weight: 600;*/
     /*new*/
    font-weight: bold;
    background: #f3f0f1;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #9505f5;
    font-size: 18px;
    
}

 .button_g, .button_b{
    clear: both;
    font-size: 18px;
     font-weight: bold;
    display: block;
    text-decoration: none;
}
 .button_b{
    color: #B44FF8;
}
.button_g{
    color: #E49BFF;
}
.info-box:hover, .first_box:hover{
    background: rgb(255,244,235);
background: linear-gradient(131deg, rgba(255,244,235,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 69%, rgba(253,236,255,1) 100%);
}
.button:hover {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.5);
      }
.button:active{
    opacity: 1;
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #C96AEF;
}




.info-box-tan {
    border-radius: 30px;
	background-color:#FFF1E9;
	color: #B422CA;
	padding: 30px 20px 60px;
	text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.info-box-tan:hover {
    background-color: #FFF3F3;
    color: #E47AF4;
    font-weight: 900;
}

.info-box-dark {
    border-radius: 30px;
	background-color: #F7EFFF;
	color: #B422CA;
	padding: 30px 20px 60px;
    font-weight: 700;
	text-align: center;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.info-box-dark:hover {
    background-color: #FBF7FF;
    color: #E47AF4;
    font-weight: 900;
}

.info-box{
    border-radius: 50px;
    padding: 30px 20px 60px;
    margin: 20px;
	text-align: center;
	background-color:#FFF7F7;
	color: #B422CA;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.footer-text {
    font-size: 1.5em;
	margin-bottom: 20px;
}

.col {
	width: 100%;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}


/*video style*/
.video{
   width: 100%;
   height: auto;
}

/* */
.parent{
 position: relative;
  top: 0;
  left: 0;
}
.button-play{
    z-index: 3;
    position: absolute;
    width: 130px;
    height: 130px;
    align-items : center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: transparent;
}

.button-go{
    z-index: 3;
    position: absolute;
    width: 130px;
    height: 130px;
    align-items : center;
    top: 0%;
    left: 0%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: transparent;
}
.transparent {
    background-color: transparent;
    border: 0;
}

.button-play:hover{
opacity: 1;
}

.button-play:hover ~ .fon{
 
 opacity: 0.3;
} 

.fon{
    z-index: 1;
    position: relative;
}





/* Style inputs for contact form */
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a>p{
   padding-top: 0;
   margin-top: 0;
   font-size: 0.8em;
   color: #7A9093;
   font-weight: 800;
   text-decoration: none;
   text-transform: uppercase;
}
a:hover{
   text-decoration: none;
}
#bottom{
    height: 4em;
}

.title {
    color: #FFFFFF;
    margin:  1em 0;
    padding: 1.0em 0;
    background-image: url("../images/blue_fon1.png");
   
}



.div-logo {
    width: 50px;
}

.logo-text {
    display: none;
    
}
.logo:hover + .logo-text{
    display: block;
    margin-top: -55px;
    white-space: nowrap;
    margin-left: 15px;
}



.round_photo {
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 12px 5px 20px rgba(13,87,100,0.8);
  
}

.logo-shad {
    
    max-width: 300px;
    border-radius: 50%;
    z-index: 1;
    right:  40%;
    left:10%;
    bottom: 50%;
    top: 5%;
}



.body_about {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue
}



.center-image {
    position: relative;
    width: 100%;
    text-align: center;
}

.title-name {
    
    color: #14B9C3;
    font-size: 2.8em;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.p_about {
    color: #2D575F;
    font-size: 1em;
    letter-spacing: 2px;
}


.link {
    color: rgba(13,88,102,1.00);
}

.title-soon {
    color: #414141;
    font-weight: 600;
    background-color: #3DBAC1;
    padding: 1em;
}



.div_soon {
  position: relative;
  display: inline-block;
}

.div_soon .soon {
  visibility: hidden;
  width: 150px;
  background-color: #FFFFFF;
  color: #7C7B7B;
   
  text-align: center;
  border-radius: 50px;
  padding: 10px 10px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -105%;
}

.div_soon:hover .soon {
  visibility: visible;
}

.main_title_php {
    background-color: #ffffff;
    color: #1C8CA1;
}

footer{
    bottom: 0;
   
}





/*Tablet View*/
@media screen and (max-width: 1023px) and (min-width: 768px){
	
    
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	
	h1 {
		font-size: 5em;
		margin: 40px 50px 30px 50px;
        font-weight: 800;
	}
	
	h2 {
		
       margin: 1em 0 0.6em 0; 
    
	}
	
	.col-md-one-half {
		width: 50%;
	}
    .col-lg-one-fourth{
        width: 50%;
        float: left;
        
    }
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
    .div-image{
        margin: 10%;
        max-width: 70%;
    }
    
  .button-play a p{
      font-size: 1em;  
    }
    .title-name{
        margin: 1em 0;
        
    }
    
    .p_about{
        padding: 0 2em;
    }
    
    .footer-main{
        margin: 4em 0 0 0;
    }
    
    .p_about:last-child{
        margin-bottom: 9em;
    }
    
    footer{
    bottom: 0;
 
    }
    .design, .first_box{
        padding-bottom: 60px;
    }
    
}



/*Desktop View*/

@media (min-width: 1024px){
    
   
	body {
		max-width: 90%;
        min-height: 100vh;
	}
    
    .about {
        max-width: 60%;
        margin: 0 auto;
    }
	
	.style-logo {
		float: left;
	}
    .style-logo-winter {
		float: left;
	}
	
	.style-nav {
		float: right;
	}
	

    
    .col-md-one-half{
        width: 50%;
        float: left;
    }
    
    .col-lg-one-fourth {
		width: 25%;
        float: left;
	}
    
    h1{
        font-size: 5em;
        margin-bottom: 20px;
    }
    
    .div-image{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 40px;
       
    }
    
      a>p{
      font-size: 1em;  
    }
        
    
    /*style for paragraph - about*/
    .text{
        width: 100%;
        margin: 0 auto;
        padding: 2% 0 5% 0;
        margin-bottom: 10%;
        color: #2B2B2B;
    }
    .col {
		float: left;
		padding: 0px 7px 14px;
	}
    
    
   
    
}


/* mobile View*/    
@media screen and (max-width: 767px) {
    
    h1{
        font-size: 3em;
        margin: 0.8em;
    } 
    
      a>p{
      font-size: 1.2em;  
      font-weight: 500;
    }
    .center-image{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .title-name{
        margin: 1.5em 0;
    }
    
    .col-lg-one-fourth{
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    
    .col {
		width: 100%;
	}
    
    .p_about{
        padding: 0 1em;
    }
    
    
    .footer-text{
         font-size: 1.1em;
    }
    
    .div-image{
        max-width: 80%;
        margin: 0 auto;
        padding: 10px 20px;
        clear: both;
        display: table;
    }
    .info-box-tan, .design, .first_box, .info-box-dark{
        margin: 25px 5px;
    }
    
    
    
    
}


.second_box_title , .third_box_title {

	background-color: #F9F3FF;
    opacity: 0.9;
	background-size: cover;
	padding: 50px 30px 40px 30px;
	text-align: center;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.second_box_title h1{
    font-size: 3em;
    color:#6769C8;
}

.first_box_title{
    color:#6769C8;
}
.first_box_title, .second_box_title, .third_box_title{
    margin: 2em 0;
}

